In [1]:
import context_analysis.load

experiment = "pfc"
session_names = [
    # "day4-test1", 
    "day5-test2"
]

# context_analysis.load.load_mice(experiment=experiment)
df = context_analysis.load.load_cells(experiment=experiment)

In [2]:
context_analysis.load.load_traces(experiment=experiment, session_names=session_names)

,time,session_cell_id,value,cell_id,session_name,session_index,ncc_score,centroid_distance,mouse,group,cohort
0,0.00,7,-5.570284,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
1,0.10,7,-8.067203,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
2,0.20,7,-5.437158,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
3,0.30,7,-6.010540,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
4,0.40,7,-2.793556,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
...,...,...,...,...,...,...,...,...,...,...,...
14315680,846.74,880,32.838810,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315681,846.84,880,32.094150,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315682,846.94,880,31.382620,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315683,847.04,880,30.702750,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315684,847.14,880,30.053090,722,day5-test2,6,2.0,3.0,B58217,No Shock,4

In [3]:
context_analysis.load.load_spikes(experiment=experiment, session_names=session_names)

,time,session_cell_id,value,cell_id,session_name,session_index,ncc_score,centroid_distance,mouse,group,cohort
0,0.00,7,0.0,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
1,0.10,7,0.0,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
2,0.20,7,0.0,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
3,0.30,7,0.0,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
4,0.40,7,0.0,165,day5-test2,6,4.0,3.0,B51619,Experimental,3
...,...,...,...,...,...,...,...,...,...,...,...
14315680,846.74,880,0.0,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315681,846.84,880,0.0,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315682,846.94,880,0.0,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315683,847.04,880,0.0,722,day5-test2,6,2.0,3.0,B58217,No Shock,4
14315684,847.14,880,0.0,722,day5-test2,6,2.0,3.0,B58217,No Shock,4